/*setear nuestros archivos*/
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:#3030;
    font-family: 'Raleway', sans-serif;
    font-size: 
}

/*clases reutilizables*/
.text-uppercase{
    text-transform: uppercase;
}

.box-header{
    display: inline-block;
}

.logo-header{
    width: 200px;
}

li{
    display:inline;
    list-style: none;
}

li a{
    text-decoration: none;
    color: inherit;
}

header{
    position: relative;
}

nav{
    position: absolute;
    right: 5%;
    top:50%;
    transform:translateY(-50%) ;
}

section{
    text-align: center;
}

div{
    display: inline-block;
    width:33%;
}

.icon-camera:before {
    content: "\e90f";
    font-size: 20px;
}
.icon-envelop:before {
    content: "\e945";
    font-size: 20px;
}
.icon-display:before {
    content: "\e956";
    font-size: 20px;
}


